* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --color-bg: #10375C;
    --color-desc: #575F66;
    --color-btn: #2E80CE;
}

/* ================================================ commen =============================================== */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    height: 60px;
    border-radius: 30px;
    background: var(--color-btn);
    transition: .25;
}

.btn:hover {
    background-color: #508fca;
}

.section__heading {
    color: var(--color-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    color: var(--color-desc);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}


/* ================================================ Header =============================================== */

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-bg);
    z-index: 1;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    font-size: 1rem;
}

.logo__circle {
    width: 3em;
    height: 3em;
    margin-right: 6px;
    border-radius: 3em;
    background: var(--color-btn);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    width: 1.6em;
    height: 1.6em;
    border-radius: 1.6em;
    background: #FFF;
}

.logo__text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logo__brand {
    color: #FFF;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.77;
}

.logo__brand--small {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    color: #C9D2DA;
    margin-left: 42px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 20px 0;
}

.navbar__link:hover {
    color: #FFF;
}


.header-action__login {
    margin-right: 28px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action__login:hover {
    color: #FFF;
}

.header-action__sign {
    height: 44px;
    padding: 8px 20px;
    border-radius: 22px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* ================================================ Hero =============================================== */

.hero {
    padding-top: 46px;
    background-color: var(--color-bg);
    padding-bottom: 110px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
}

.hero__content--title {
    color: #FFF;
    width: 517px;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__content--desc {
    width: 468px;
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__action--btn {
    color: #FFF;
    text-align: center;
    padding: 15px 46px;
    margin-right: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
}

.hero__action--phone {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 6px;
}

/* ================================================ Services =============================================== */

.services {
    padding: 170px 0;
}

.services__heading {
    margin-bottom: 18px;
    text-align: center;
}

.services__desc {
    width: 468px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srevices-item {
    margin-bottom: 55px;
}

.srevices-item>div {
    width: 470px;
    padding: 21px 61px 20px 22px;
    display: flex;
    cursor: pointer;
}

.srevices-item>div:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.srevices-item>div:hover .services__icon {
    background-color: var(--color-btn);
    color: #FFF;
}

.services__icon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-right: 19px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #EFF6FD;
    color: var(--color-bg);
    transition: 1;
}

.services-item__body--heading {
    color: var(--color-bg);
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__body--desc {
    margin-top: 8px;
    color: var(--color-desc);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services__btn {
    display: flex;
    width: 205px;
    padding-left: 49px;
    padding-right: 49px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
}

/* ================================================ How it works =============================================== */

.work {
    padding: 100px 0;
    background-color: #F6FBFF;
}

.work__heading {
    margin-bottom: 18px;
}

.work__desc {
    width: 468px;
    margin-bottom: 70px;
}

.work-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.work-item {
    width: 370px;
    padding: 43px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: var(--color-bg);

}

.work-item__icon {
    margin-bottom: 18px;
}

.work-item__heading {
    color: var(--color-bg);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-bottom: 28px;
}

.work-item__desc {
    color: var(--color-desc);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 18px;
}

.work-item__action {
    color: var(--color-btn);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ================================================ Feature =============================================== */

.feature {
    padding: 170px 0;
}

.feature .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
    width: 570px;
    height: 491px;
}

.feature__img {
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:first-child {
    width: 512px;
    height: 370px;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__heading {
    width: 470px;
    margin-bottom: 18px;
}

.feature__desc {
    width: 470px;
    margin-bottom: 38px;
}

.feature__btn {
    height: 60px;
    padding: 15px 52px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* ================================================ member =============================================== */

.member {
    padding-bottom: 170px;
}

.member__heading {
    text-align: center;
    margin-bottom: 18px;
}

.member__btn {
    display: block;
    height: 60px;
    width: 205px;
    margin: 0 auto;
    padding: 15px 27px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.member-row {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 38px;
}

.member-img__wrap {
    display: flex;
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background-color: #EAF6FF;
    align-items: end;
}

.member__img {
    width: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.member-infor__name {
    color: var(--color-bg);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-infor__desc {
    color: var(--color-desc);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.section__action {
    display: flex;
    justify-content: center;
}

.section__action-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-left: 18px;
    border-radius: 36px;
    border: 1px solid var(--color-desc);
    background-color: #FFF;
    color: var(--color-desc);
    cursor: pointer;
    transition: 0.25s;
}

.section__action-next:hover {
    background-color: var(--color-btn);
    border-color: var(--color-btn);
    color: #FFF;
}

.section__action-next-right {
    rotate: 180deg;
}

/* ================================================ install =============================================== */

.install {
    padding-bottom: 170px;
}

.install .container {
    display: flex;
    align-items: center;
    height: 427px;
    background-color: var(--color-btn);
}

.install__img {
    display: block;
    margin-left: 70px;
    margin-top: -95px;
    margin-right: 160px;
}

.install__heading {
    width: 489px;
    margin-bottom: 18px;
}

.install__desc {
    width: 586px;
    margin-bottom: 38px;
}

.install-btn__img {
    margin-right: 28px;
}

/* ================================================ News =============================================== */

.new .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 170px;
}

.new__heading {
    width: 470px;
    margin-bottom: 28px;
}

.blog__see {
    display: block;
    margin-bottom: 28px;
    color: var(--color-bg);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
}

.new__action {
    display: flex;
    justify-content: start;
    margin-left: -17px;
}

.new-blog {
    display: flex;
    gap: 30px;
}

.new-blog__item {
    width: 270px;
    height: 375px;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    box-shadow: 0px 10px 19px 11px rgba(0,0,0,0.1);
}

.new-blog__img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.new-blog__body {
    padding: 18px 22px;
}

.new-blog__body--heading {
    color: var(--color-bg);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.new-blog__body--desc {
    margin-top: 10px;
    margin-bottom: 12px;
    color: var(--color-desc);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.new-blog__body--action {
    color: var(--color-bg);
    font-size: 1.4rem;
    font-weight: 400;
}

.new-blog__body--action:hover {
    color: var(--color-btn);
}

/* ================================================ Appointment =============================================== */
.appointment {
    margin-bottom: 170px;
}

.appointment .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 452px;
    background-color: #F6FBFF;
}

.appointment__heading {
    position: relative;
    margin-top: 100px;
}

.appointment__heading::after {
    position: absolute;
    bottom: -18px;
    left: calc(50% - 136px / 2);
    content: "";
    width: 136px;
    height: 2px;
    background: #2E80CE;
}

.appointment__desc {
    margin: 38px 0;
    width: 617px;
    text-align: center;
}

.appointment__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    background: var(--color-btn)
}

/* ================================================ Footer =============================================== */


.footer {
    background-color: var(--color-bg);
    padding-bottom: 42px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer__desc {
    color: #A9B3BB;
    font-family: "Open Sans", sans-serif;
    width: 336px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 21px;
}

.footer-column__heading {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.footer-column__item {
    color: #A9B3BB;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-column__item:hover {
    text-decoration: underline;
}

ul {
    margin-bottom: 28px;
}

.social-icon {
    display: flex;
    gap: 10px;
    margin-bottom: 28px;
}

.social__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--color-btn);
    background-color: #FFF;
}

.social__wrap:hover {
    background-color: var(--color-btn);
    color: #FFF;
}

.footer-column__desc {
    color: #A9B3BB;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    width: 273px;
}

.email-form {
    margin-top: 10px;
    display: flex;
}

.email-form__input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    margin-right: 12px;
    padding: 0 10px;
    border: 1px solid #406181;
    color: #9CA8B1;
    background-color: var(--color-bg);
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.email-form__btn {
    width: 108px;
    height: 46px;
    border-radius: 4px;
    border: none;
    background: #2E80CE;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    cursor: pointer;
}

.email-form__btn:hover {
    background-color: rgba(46, 128, 206, 0.8);
}

.footer__line {
    width: 100%;
    height: 1px;
    background: #406181;
}

.footer__web {
    margin-top: 28px;
    color: #AAB3BA;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}